<div class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <h2 class="title is-3">Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class: "label" %>
          <div class="control">
            <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email" %>
          </div>
        </div>

          <div class="control">
            <%= f.submit "Send me reset password instructions", class: "button has-background-success-dark has-text-light"%>
          </div>
      <% end %>

      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
